<%- include('partials/header.ejs') %>

<!-- Main content start -->
<div class="main-content">
  <section class="section">
    <div class="section-body">
      <div class="card">
        <div class="card-headers row">
          <div class="col-12 col-md-10">
            <div class="university-card-header">
              <h4>Add Mentorship</h4>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form id="addform">
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="form-group add-university-form">
                    <label>Title</label>
                    <input
                      type="text"
                      class="form-control"
                      name="title"
                      placeholder="Enter Title"
                    />
                  </div>

                  <div class="form-group add-university-form w-80">
                    <label>Content</label>
                    <input
                      type="text"
                      class="form-control"
                      name="content"
                      placeholder="Enter Content"
                    />
                  </div>

                  <div class="row">
                    <div class="form-group add-university-form w-50">
                      <label>Timing From</label>
                      <div class="input-group input-daterange">
                        <input
                          type="date"
                          name="timing_from"
                          class="start-date form-control"
                        />
                      </div>
                    </div>
                    <div class="form-group add-university-form w-50">
                      <label>Timing TO</label>
                      <div class="input-group input-daterange">
                        <input
                          type="date"
                          name="timing_to"
                          class="start-date form-control"
                        />
                      </div>
                    </div>
                    <div class="form-group add-university-form w-50">
                      <label>Amount</label>
                      <input
                        type="number"
                        class="form-control"
                        name="amount"
                        placeholder="Enter Amount"
                      />
                    </div>
                    <div class="col-md-6">
                      <div class="form-group add-university-form">
                        <label for="image">Add File</label>
                        <div class="custom-file w-70">
                          <input
                            type="file"
                            class="form-control"
                            id="image"
                            name="image"
                          />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group add-university-form">
                      <label>Description</label>
                      <textarea
                        class="form-control"
                        rows="3"
                        name="description"
                        id="summernote"
                        placeholder="Enter Description"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-1">
                <div class="col-12 text-right">
                  <button class="btn btn-primary">Add</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Main Content -->

<%- include('partials/footer.ejs') %>
<script>
  var addform = $("#addform");

  addform.on("submit", addslidersubmitHandler);

  function addslidersubmitHandler(e) {
    e.preventDefault();

    // PREPARE FORM DATA
    var formData = new FormData(addform[0]);
    console.log(formData);
    // // DO POST
    $.ajax({
      type: "POST",
      enctype: "multipart/form-data",
      cache: false,
      processData: false,
      contentType: false,
      url: "/admin/mentorship/add",
      data: formData,
    })
      .done((res) => {
        if (res.error == true) {
          renderToast({ message: res.message, icon: "error" });
        } else {
          renderToast({ message: res.message, icon: "success" });
          setTimeout(() => {
            window.location.replace("/admin/mentorship/list");
          }, 1000);
        }
      })
      .fail(function (xhr, status, error) {
        console.log(xhr.responseText);
      });
  }
</script>
